{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}О нас{% endblock %}</title>
</head>
<body>
{% block content %}
<div align="center">

<pre style="font-size: 30px">
Мы всегда стремились создавать новое. Только так можно менять рынок
недвижимости. Больших амбициозных целей трудно достигнуть, если
сопротивляться переменам. Наш Успех неразрывно связан с развитием каждого
сотрудника. Чтобы менять мир — нужно меняться самим.
</pre>

</div>
{% endblock %}
</body>
</html>